<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<h2>Users</h2>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>LastName</th>
        <th>Age</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getLastname()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td><a th:href="@{/edit/{id}(id=${user.getId()})}">Edit</a></td>
        <td><a th:href="@{/delete/{id}(id=${user.getId()})}">Delete</a></td>
    </tr>
    </tbody>
</table>
<p><a href="/add">Add a new user</a></p>
</div>
</body>
</html>